﻿<div id="login-form">
    <h1>log in</h1>
        
        <form name="registerForm" ng-submit="login()">
            <fieldset>

                <div ng-if="serverMessages.length !== 0" class="text-red-color">
                    <p ng-repeat="message in serverMessages">{{ message }}</p>
                </div>

                <input type="Name" name="Name" placeholder="Name" ng-model="name">
                <input type="password" required placeholder="Password" ng-model="password">
                <input class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!name || !password" value="LOG IN">
                <footer class="clearfix">
                    <span class="register-box"><a ng-click="redirectToRegister()">Go to register</a></span>
                </footer>
            </fieldset>
        </form>

</div>
