﻿<head-block></head-block>

<div class="month-block">
    <div class="mn-label-panel">
        <div class="mn-back"><a ng-click="goToPrevDay()"><span class="glyphicon glyphicon-my glyphicon-chevron-left"></span></a></div>
        <div class="{{holiday ? 'day-label text-red-color' : 'day-label'}}" title="{{holiday ? holiday.name : ''}}"><strong>{{dayTitle}}</strong></div>
        <div class="mn-next"><a ng-click="goToNextDay()"><span class="glyphicon glyphicon-my glyphicon-chevron-right"></span></a></div>
        <div class="mn-label-year"><strong>{{monthAndYearTitle}}</strong></div>
    </div>
</div>

<div class="container grid" id="grid">
    <div class="container " id="topcontainerwk">
        <table class="table" cellpadding="0">
            <tbody>
                <tr ng-repeat="(hour, hourParams) in gridData">
                    <td class="time-box">{{hour + ":00"}}</td>
                    <td class="day-day-td">
                        <div ng-if="hourParams.events!=null" ng-repeat="event in hourParams.events" class="day-event-box">
                            <a class="text-white-color" ng-click="editEvent(event.id)">{{event.text}}</a>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container" id="scrolltimedeventswk">

    </div>
</div>


