﻿<div>
    <ul class="nav nav-pills">
        <li><a class="navbar-brand" href="#">Calendar</a></li>
        <li><a ng-click="switchToDayView()">Day</a></li>
        <li><a ng-click="switchToWeekView()">Week</a></li>
        <li><a ng-click="switchToMonthView()">Month</a></li>
        <li><a ng-click="switchToYearView()">Year</a></li>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <label class="switch">
                        <input type="checkbox" ng-checked={{notificationState}}>
                        <span class="slider round" ng-click="switchNotificationState()"></span>
                        <span id="notif">Notifications</span>
                    </label>
                </li>
                <li>
                    <a ng-click="addEvent()" class="text-success">
                        <span class="glyphicon glyphicon-plus-sign"></span> Add event
                    </a>
                </li>

                <li>
                    <a ng-click="logout()" class="text-success">
                        <span class="text-blue-color">Logout</span>
                    </a>
                </li>
            </ul>
    </ul>
</div>

