﻿<head-block></head-block>

<div class="month-block">
    <div class="mn-label-panel">
        <div class="mn-back"><a ng-click="goToPrevMonth()"><span class="glyphicon glyphicon-my glyphicon-chevron-left"></span></a></div>
        <div class="mn-label"><strong>{{navigateMonthTitle}}</strong></div>				
        <div class="mn-next"><a ng-click="goToNextMonth()"><span class="glyphicon glyphicon-my glyphicon-chevron-right"></span></a></div>
        <div class="mn-label-year"><strong>{{date.getFullYear()}}</strong></div>
    </div>
</div>


<div class="container grid" id="grid">
    <div class="container " id="topcontainerwk">
        <table class="table" cellpadding="0">
            <tbody>						
                <tr class="wk-daynames">
                    <th ng-repeat="weekDay in weekDays"  title="{{weekDay}}" scope="col">
                        <div class="wk-dayname">
                            <span class="wk-daylink">{{weekDay}}</span>
                        </div>
                    </th>
                    <th class="wk-dummyth" style="width: 16px">&nbsp;</th>
                </tr>
                <tr>
                    <td ng-repeat="weekDay in weekDays" class="wk-webcontent-td"></td>
                </tr>						
            
                <tr ng-repeat="(weekNumber, daysParams) in gridData">
                    <td ng-repeat="(dayKey, dayParams) in daysParams" class="month-day-td">
                        <div class="{{dayParams.active ? 'mn-day text-center' : 'mn-day-default text-center'}}">
                            <span>
                                <a class="{{ dayParams.active && dayParams.holiday ? 'text-red-color' : 'text-white-color'}}" ng-click="goToDay(dayParams.date)" title="{{ dayParams.active && dayParams.holiday ? dayParams.holiday.name : ''}}">{{dayParams.date.getDate()}}</a>
                            </span>
                        </div>
                        <div class="scrollable-div-month">
                            <div ng-if="dayParams.events!=null" ng-repeat="event in dayParams.events" class="mn-event-box-default">
                                <a class="text-white-color" ng-click="editEvent(event.id)">{{event.text}}</a>
                            </div>        
                        </div>
                    </td>
                </tr>               
            </tbody>
        </table>
    </div>
    <div class="container" id="scrolltimedeventswk">

    </div>
</div>