﻿<div id="login-form">
    <h1>Register</h1>
    
    <form ng-submit="register(registerForm.$valid)" novalidate name="registerForm">
        <fieldset>
            <div ng-if="serverMessages.length !== 0" class="text-red-color">
                <p ng-repeat="message in serverMessages">{{ message }}</p>
            </div>

            <span class="text-red-color" ng-show="registerForm.name.$dirty">
                <span ng-show="registerForm.name.$error.required">Login name is required.</span>
                <span ng-show="registerForm.name.$error.minlength">Login is too short.</span>
                <span ng-show="registerForm.name.$error.maxlength">Login is too long.</span>
            </span>

            <span class="text-red-color" ng-show="registerForm.password.$dirty">
                <span ng-show="registerForm.password.$error.required">Password name is required.</span>
                <span ng-show="registerForm.password.$error.minlength">Password is too short.</span>
                <span ng-show="registerForm.password.$error.maxlength">Password is too long.</span>
            </span>

            <input name="name" type="Name" placeholder="Name" ng-model="name" required ng-minlength="3" ng-maxlength="10">
            <input name="password" type="password"  placeholder="Password" ng-model="password" required ng-minlength="6" ng-maxlength="10">
            <input class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!name || !password" value="REGISTER">

        </fieldset>
    </form>

</div>
